<footer>
    <h4>Digital Movies</h4>
    <i class="fa-brands fa-instagram fa-lg" style="color: #fe4c5c;"></i>
    <i class="fa-brands fa-facebook-f fa-lg" style="color: #0865ff;"></i>
    <i class="fa-brands fa-x-twitter fa-lg" style="color: #ffffff;"></i>
</footer>