<header>
    <nav>
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="logo">
            </a>
        </div>

        <input type="text" placeholder="Peliculas, Series, Cine">
        <div class="botones-nav">
            <a class="boton-nav" href="/estrenos">Estrenos</a>
            <a class="boton-nav" href="#">Series</a>
            <a class="boton-nav" href="#">Entradas</a>
        </div>
        <div class="botones-usuario">
            <a href="/estrenos/productCart"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffffff;"></i></a>
            <a href="/user/register" class="register"><i class="fa-solid fa-circle-user fa-xl"
                    style="color: #ffffff;"></i>Registrarse</a>
            <a href="/user/login" class="register"><i class="fa-solid fa-circle-user fa-xl"
                    style="color: #ffffff;"></i>Ingresar</a>
            <a href="/user/users-list" class="register"><i class="fa-solid fa-circle-user fa-xl"
                    style="color: #ffffff;"></i>Usuarios</a>
        </div>
    </nav>
</header>