<%- include('./partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/compras.css">
    </head>

    <body>
        <%- include('./partials/header') %>

            <main class="contenido">
                <h3>Seccion de Compras</h3>

                <section class="tarjetas">

                    <div class="tarjeta">
                        <div class="texto">
                            <div class="cuadrado"></div>
                            <p>Clasificacion</p>
                        </div>
                        <img src="/images/logo.jpg" alt="logo">
                        <p>Titulo pelicula</p>
                    </div>

                    <div class="tarjeta">
                        <div class="texto">
                            <div class="cuadrado"></div>
                            <p>Clasificacion</p>
                        </div>
                        <img src="/images/logo.jpg" alt="logo">
                        <p>Titulo pelicula</p>
                    </div>

                    <div class="tarjeta">
                        <div class="texto">
                            <div class="cuadrado"></div>
                            <p>Clasificacion</p>
                        </div>
                        <img src="/images/logo.jpg" alt="logo">
                        <p>Titulo pelicula</p>
                    </div>

                    <div class="tarjeta">
                        <div class="texto">
                            <div class="cuadrado"></div>
                            <p>Clasificacion</p>
                        </div>
                        <img src="/images/logo.jpg" alt="logo">
                        <p>Titulo pelicula</p>
                    </div>

                    <div class="contenedores">
                        <button>Comprar</button>
                        <button>Eliminar</button>
                        <p class="total-compra">
                            <i class="fa-solid fa-dollar-sign"></i>Total
                        </p>
                    </div>

                </section>
                <h3>Seccion de Alquiler</h3>
                <section class="tarjetas">

                    <div class="tarjeta">
                        <div class="texto">
                            <div class="cuadrado"></div>
                            <p>Clasificacion</p>
                        </div>
                        <img src="/images/logo.jpg" alt="logo">
                        <p>Titulo pelicula</p>
                    </div>

                    <div class="tarjeta">
                        <div class="texto">
                            <div class="cuadrado"></div>
                            <p>Clasificacion</p>
                        </div>
                        <img src="/images/logo.jpg" alt="logo">
                        <p>Titulo pelicula</p>
                    </div>

                    <div class="tarjeta">
                        <div class="texto">
                            <div class="cuadrado"></div>
                            <p>Clasificacion</p>
                        </div>
                        <img src="/images/logo.jpg" alt="logo">
                        <p>Titulo pelicula</p>
                    </div>

                    <div class="tarjeta">
                        <div class="texto">
                            <div class="cuadrado"></div>
                            <p>Clasificacion</p>
                        </div>
                        <img src="/images/logo.jpg" alt="logo">
                        <p>Titulo pelicula</p>
                    </div>
                    <div class="contenedores">
                        <button>Comprar</button>
                        <button>Eliminar</button>
                        <p class="total-compra">
                            <i class="fa-solid fa-dollar-sign"></i>Total
                        </p>
                    </div>

                </section>
            </main>
    </body>
    <%- include('./partials/footer') %>
    </html>